<%- include("partials/header"); -%>
<h1>Welcome to members only app</h1>
Sign up here: <a href="/sign-up">SIGN UP</a>
<br><br>
<p>
    Join the club if you know the password!: <a href="/join-the-club">JOIN THE CLUB</a>
</p>
<%- include("partials/footer"); -%>
