<%- include("partials/header"); -%>
<h1>Welcome to members only app</h1>





<!-- this part is visible only if the user has logged in -->
<% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <br><br>
    <p>
        Join the club if you know the password!: <a href="/join-the-club">JOIN THE CLUB</a>
    </p>
<% } else { %>
    Sign up here: <a href="/sign-up">SIGN UP</a>
    <h3>Please log in: <a href="/login">LOGIN</a></h3>
<%}%>

<!-- this part is visible only if the current user's (which we tap into via currentUser variable)  membershipStatus is true -->
<% if (currentUser) { %> 
    
    <% if (currentUser.membershipStatus===true) { %> 
    <br><br>
    <h1 style="color: blueviolet;">You are a club member!</h1>
    <% }  %>

<% }  %>



<%- include("partials/footer"); -%>